body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.spa-item {
    display: inline-block;
    width: 33%;
    height: 100%;
}
.wrapper {
    padding: 3%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

h1 {
    font-size: 30px;
}

.item-wrapper {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #d3d3d3;
}

.bg-img-wrapper {
    background-size: cover;
    min-height: 180px;
    /* height: 220px; */
    background-position: center;
    background-color: #ccc;
    border-radius: 10px;
    object-fit: cover;
    /* overflow: hidden; */
}
.bg-img {
    width: 100%;
    border-radius: 10px;
}

.content {
    padding: 15px;
}

.item-title {
    font-size: 20px;
    font-style: bold;
}